name: .NET

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x', '9.0.x' ]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Restore
      run: dotnet restore "EventEase.Client.csproj"

    - name: Build
      run: dotnet build "EventEase.Client.csproj" --configuration Release --no-restore

    - name: Test
      run: |
        dotnet test "Tests/EventEase.Tests.csproj" --no-build --verbosity normal
